body {
  font-family: 'Arial', sans-serif;
  margin: 40px;
  text-align: center;
  background-color: #f4f4f4;
}

#titulo {
  color: #c70039; 
}

.subtitulo {
  color: #2e86de; 
  font-family: 'Georgia', serif;
}

.menu {
  list-style: none;
  padding: 0;
}

.menu li {
  display: inline-block;
  margin: 0 15px;
}

.menu a {
  text-decoration: none;
  color: #117a65; 
  font-weight: bold;
  font-family: 'Verdana', sans-serif;
}

.menu a:hover {
  color: #ff9900; 
}

img {
  width: 300px;
  height: auto;
  margin-top: 20px;
  border-radius: 8px;
}

main {
  background-color: white;
  padding: 20px;
  margin: auto;
  width: 60%;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
